{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("HomeController.listing();")}}
{% set limit = 14 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set articleCount = 0 %}
{% set articleTest = 0 %}

{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'network' }) %}


{% set sections =  {
        "Editors Pick": {
            "feed": "",
            "link": ""
        }, 
        "Most Viewed": {
            "feed": "",
            "link": ""
        }, 
        "Features": {
            "feed": "",
            "link": ""
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}

        {% if blog.title | lower == key | lower %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': 5, 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.link
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}








    <!--placeholder temp -->
    {% if articles|length > 0 %}
        {% set articleImg = _Media.getMediaUrl(articles[0].featuredMedia,1400, 567, {'crop': 'fill', 'gravity': 'faces'} ) %}
        <div class="banner-image image-wrapper tintGradient" style="background-image:url('{{articleImg}}');"></div>
        <section class="featured-carousel-index2 container">
            <!-- Swiper -->
            <div id="index-swiper" class="swiper-container clearfix ">
                <div class="swiper-wrapper ">

                        {% if articles[0] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[0], position: (1), containerClass: 'swiper-slide', imageSuppress: 'true'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                </div>
            </div>
        </section><!--featured-carousel-->
    {% endif %}



    <section class="top-stories_index2 container">
        <h2>TOP STORIES</h2>
        <div class="row">
            {% for i in 0..2 %}
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-topstories'}) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </section><!--custom-pagination-->




    <section class="content-block container top site-main">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-8 card-md'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-8 card-md'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div><!--row-->
            </div>




            <div class="col-md-3 col-sm-12">
                <aside class="left-border">
                             
                    <section class="row top-stories-sidebar">
                        {% if sections['Editors Pick'].feed.articles|length > 0 %}

                    <section class="aap-news">
                        
                      <h2 style="font-size:1.125rem;">EDITOR'S PICK</h2>


                        {# <a href ="{{ sections['Breaking News'].link }}"><h2>BREAKING NEWS</h2></a> #}
                        {# <p>FROM <img src="{{networkData.templatePath}}/static/images/aap.jpg"></p> #}

                        {% for i in 0..10 %}
                            {% if sections['Editors Pick'].feed.articles[i] %}
                                {{this.render('partials/_single-article.twig', {article: sections['Editors Pick'].feed.articles[i], containerClass: 'col-sm-6 col-md-12'}) | raw}}
                            {% endif %}
                        {% endfor %}

                        <a href="{{ sections['Editors Pick'].link }}" class="viewmore">VIEW MORE</a>
                    </section>
                    {% endif %}

                    </section>
                


                </aside>
            </div>
        </div>
    </section>





    {% if sections['Features'].feed.articles|length > 0 %}
    <div class="container">
        <a href="{{ sections['Features'].link }}"><h5 class="ser-h5">FEATURES</h5></a>
        <section class="content-block ser">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                        <img src="{{networkData.templatePath}}/static/images/jasso.png">
                </div><!--col-sm-4-->
                
                {% for i in 0..1 %}
                    {% if sections['Features'].feed.articles[i] %}        
                        {{this.render('partials/_2ser-article.twig', {article: sections['Features'].feed.articles[i], 'position': (i+1), containerClass: 'col-sm-6 col-md-4'}) | raw}}
                    {% endif %}                   
                {% endfor %}
            </div><!--row-->
        </section><!--ser-->
    </div>
    {% endif %}





    <section class="highlight content-block">
        {% if articles[articleCount] %}
            {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'card-lg'}) | raw}}
            {% set articleCount = articleCount + 1 %}
        {% endif %}
    </section><!--highlight-->






    <section class="content-block container site-main">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <aside class="right-border">
                    <section class="row top-stories-sidebar">
                        {% if sections['Most Viewed'].feed.articles|length > 0 %}

                    <section class="aap-news">
                        
                      <h2 style="font-size:1.125rem;">MOST VIEWED STORIES</h2>


                        {# <a href ="{{ sections['Breaking News'].link }}"><h2>BREAKING NEWS</h2></a> #}
                        {# <p>FROM <img src="{{networkData.templatePath}}/static/images/aap.jpg"></p> #}

                        {% for i in 0..10 %}
                            {% if sections['Most Viewed'].feed.articles[i] %}
                                {{this.render('partials/_single-article.twig', {article: sections['Most Viewed'].feed.articles[i], containerClass: 'col-sm-6 col-md-12'}) | raw}}
                            {% endif %}
                        {% endfor %}

                        <a href="{{ sections['Most Viewed'].link }}" class="viewmore">VIEW MORE</a>
                    </section>
                    {% endif %}

                    </section>
                </aside>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="row">

                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-8 card-md'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                    {% if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], 'position': (articleCount+1), containerClass: 'col-sm-4 card-sm'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}

                </div><!--row-->
            </div>
            

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 section__content">
                <div class="row">
                    <div class="ajaxArticles clearfix " 
                    data-offset="{{limit}}" 
                    data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}">
                        
                    </div>
                    <a class="loadMoreArticles" href="#">LOAD MORE</a>
                </div>
            </div>

            {% set noDataCls = 'hide' %}
            {% if articles|length == 0 %}
                {% set noDataCls = '' %}
             {% endif %}
            <div class="row text-center has-margin-bottom-20 has-margin-top-20 {{noDataCls}} NoArticlesMsg">
                <p class="no-data text-center">No articles found.</p>  
            </div>
        </div>

    </section>


